#page-root {
	text-align: center;
}

#navigation > form {
	margin-bottom: 17px;
}

#navigation > form > input[type=radio] {
	display: none;
}

#navigation > form > input[type=radio] + label {
	display: inline-block;
	
	font-size: 20px;
	font-family: Menomonia;
	
	background-color: transparent;
	outline: none;
	padding: 0px;
	border: none;
	
	border-bottom: 1px solid transparent;
}

#navigation > form > input[type=radio]:checked + label {
	border-bottom: 1px solid blue;
}

#navigation > form > input[type=radio]:hover + label {
	border-bottom: 1px solid blue;
}

#navigation > form > label + input[type=radio] + label {
	margin-left: 17px
}

input[type=text] {
	font-size: 40px;
	font-family: Menomonia;
	margin-bottom: 16px;
	padding: 0px;
	
	text-align: center;
	border: none;
	border-bottom: 1px solid silver;
}

.inputable-feedback {
	font-size: 40px;
	font-family: Menomonia;
	color: transparent;
}

input[type=text]:hover + .inputable-feedback {
	color: silver;
}

p {
	font-size: 30px;
	font-family: Menomonia;
	margin: 0px;
}