#page-root {
	text-align: center;
}

#navigation > form {
	margin-bottom: 17px;
}

#navigation > form > input[type=radio] {
	display: none;
}

#navigation > form > input[type=radio] + label {
	font-size: 20px;
	font-family: Menomonia;
	background-color: transparent;
	outline: none;
	padding: 0px;
	display: inline-block;
	border: 0px solid transparent;
	
	border-bottom: 1px solid transparent;
}

#navigation > form > input[type=radio]:checked + label {
	border-bottom: 1px solid blue;
}

#navigation > form > input[type=radio]:hover + label {
	border-bottom: 1px solid blue;
}

input[type=text] {
	font-size: 20px;
	font-family: Menomonia;
	margin-bottom: 16px;
	padding: 0px;
}

p {
	font-size: 20px;
	font-family: Menomonia;
	margin: 0px;
}